/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Oswald:wght@200..700&family=Roboto:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Nosifer&family=Oswald:wght@200..700&family=Roboto:wght@400;500&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: auto;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

body::before {
    content: "";
    position: absolute;
    background: url('images/bg1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.70;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    /* color: red; */
}

p {
    font-weight: bold;
}

.sec-heading {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 0px 19px #4CAF50;

}

.hero-heading {
    text-align: center;
    font-size: 2.5rem;
    color: #3b0502;
    text-shadow: 3px 3px 5px rgb(250, 195, 195);
    font-family: "Roboto", sans-serif;

}

.hero-pera {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px rgb(250, 195, 195);
    font-family: "Roboto", sans-serif;
}

nav {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: #143202b3;
    padding: 0 20px;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

#login-nav {
    display: flex;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    border: 2px solid gray;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #143202b3
}

#hero-nav {
    display: flex;
    list-style: none;
    gap: 12px;
    justify-self: center;
    margin-top: 75px;
}
#hero-nav li a{
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    /* border: 2px solid rgb(1, 0, 0); */
    border-radius: 4px;

}
#hero-nav li a:hover{
    background-color: #45a049;
}
.logo {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    color: white;
}

.container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    min-height: 80vh;
}

input,
select,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 60%;
    display: flex;
    justify-content: center;
    justify-self: center;
    /* margin: auto; */
    border-radius: 12px;
    padding: 12px 0px;
    font-weight: bold;
    font-size: 1.1rem;
    margin-block: 10px;
    margin-bottom: 12px;

}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    /* background-color: rgb(163, 162, 162); */
    backdrop-filter: blur(4px);
    /* color: white; */
}

th {
    background-color: #f2f2f2;
}

canvas {
    display: block;
    margin: auto;
}

.history-tables {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.h-tb-size {
    min-width: 480px;
    max-width: 480px;
}

/* saving saction */
.saving-amt {
    border: #45a049;
    background-color: rgba(161, 252, 151, 0.737);
    width: 200px;
    padding: 10px 12px;
}